
    html,
    body {
      height: 100%;
      margin: 0;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1;
    }

    #map {
      height: 600px;
    }

    footer {
      background-color: #343a40;
      color: rgb(108, 117, 125);
      text-align: center;
      padding: 10px 0;
      width: 100%;
    }

    footer p {
      margin: 0;
      font-size: 0.8rem;
    }
